/* Mobile-first CSS overhaul! */
* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;

    height: 7.5rem;

    border-bottom: 5px solid black;
    box-shadow: 5px 5px 5px grey;

    flex-wrap: wrap;
}

header > section, 
header > nav {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.sitelogoandtitle {
    background-color: paleturquoise;

    /* img {
        display: none;
    } */
}

section.sitelogoandtitle > img {
    height: 100%;
}


nav {
    /* justify-content: space-evenly !important; */
    /* width: 50%; */

    gap: 50px;
}

section.headersearchbar {
    /* If we don't want to show the search bar on mobile: */
    /* display: none; */
    width: 100dvw;

    margin-right: 5%;
}

nav > a {
    background-color: palegreen;
    font-size: larger;
    padding: 5px;
    
    width: 5dvw;
    text-align: center;
}

nav > a:hover,
#nav-active:hover {
    background-color: palevioletred;
}


section#heroimage {
    width: 100%;
    /* height: 70dvh; */
    height: 50dvh;
    background-color: black;

    text-align: center;

    /* Alt image resizing solution: */
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* transform: scale(2); */
        /* opacity: 0.5; */
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 5rem;
    }
}

section#calltoaction {
    width: 100%;
    height: 10dvh;
    background-color: rgb(237, 143, 100);

    display: flex;

    /* Center content along both axis of the container */
    justify-content: center;
    align-items:center;

    /* Style the button! */
    button {
        font-size: 32px;
        padding: 1%;
        background-color: cornflowerblue;
        border-radius: 5rem;
        box-shadow: 5px 5px 5px grey;
    }
}

section#testimonials {
    width: 100%;
    /* height: 33dvh; */
    background-color: rgb(237, 100, 216);
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#testimonialContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    gap: 5%;
}

.testimonial {
    background-color: cornflowerblue;
    padding: 1%;
    margin: 2%;
    border-radius: 0.5rem;
}


#nav-active {
    background-color: palegoldenrod;
}

/* #nav-active:hover {
    background-color: rgb(161, 160, 141);
} */

/* Landscape phones and portrait tablets */
@media screen and (min-width: 600px) {
    
}

/* Desktop/laptop/etc - large screens */
@media screen and (min-width: 1200px) {
    header > section, 
    header > nav {
        height: 100%;
    }

    section.headersearchbar {
        /* If we don't want to show the search bar on mobile: */
        /* display: none; */
        width: auto;
    }

    #testimonialContainer {
        
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonial {
        /* flex: 1; */
        flex-grow: 1;
        padding: 1%;
        /* margin: 2%; */
        border-radius: 1rem;
        width: 40dvw;
    }
}